@import '../../variables.scss';

header {
    width: 100vw;
    background: url('../../img/hero-background.jpg');
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 7rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    font-family: Abel;
    font-weight: 400;
    font-size: 18px;

    a {
        text-decoration: none;
        color: $color-white;
        transition: .2s;

        &:hover {
            color: $color-blue;
        }
    }

    li {
        list-style: none;
    }
}