.padding-add {
    padding-top: 30rem;
}

.padding-add-medium {
    padding-top: 13rem;
}

.padding-add-small {
    padding-top: 8rem;
}

.padding-add-bottom {
    padding-bottom: 10rem;
}

.padding-left {
        padding-left: 4.7rem;
}